body {
  background-color: AliceBlue;
}
.button {
  cursor: pointer;
  border-radius: 20px;
  border: 2px solid black;
  margin: 3px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border: 3px;
  margin-left: auto;
  margin-right: auto;
}

.palette {
  background-color: PaleGoldenrod;
  padding: 3px solid black;
  width: 990px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  border: 3px solid black;
  border-radius: 10px;
}
#brush {
  height: 55px;
  width: 110px;
  border-radius: 20px;
  border: 2px solid black;
  margin-left: 55px;
}
