body {
  background-color: AliceBlue;
}
.button {
  cursor: pointer;
  border-radius: 20px;
  border: 2px solid black;
  margin: 3px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.palette {
  background-color: PaleGoldenrod;
  width: 990px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
